DATABASE_URL="postgresql://postgres:1234@localhost:5432/db_movies"
JWTSECRET= "a-string-secret-at-least-256-bits-long"


EXPORT_DIR=tmp/exports
SMTP_HOST=smtp.provider.com
SMTP_PORT=587
SMTP_USER=example@email.com
SMTP_PASS=password

